<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boco.nscs.mapper.sms.ISMSLogMapper">
	<resultMap type="com.boco.nscs.entity.sms.RelSmsInfo" id="RelSmsInfo">
		<result property="moduleVer" column="ModuleVer"/>
		<result property="moduledes" column="Moduledes"/>
		<result property="serviceModuleIfId" column="ServiceModuleIFID"/>
		<result property="callTime" column="call_time"/>
		<result property="orderIndex" column="OrderIndex"/>
	</resultMap>

	<select id="getSmsLogInfo" resultMap="RelSmsInfo" >
		select
		ModuleVer,
		Moduledes,
		ServiceModuleIFID,
		to_char(OrderIndex) OrderIndex,
		to_char(call_time,'yyyy-mm-dd hh24:mi:ss') call_time
		from tb_sms_interface_log
		order by Moduledes
	</select>
</mapper>